<ul class="nav nav-tabs whiteBg space">
  <li class="nav-item">
    <a class="nav-link student-profile" href="/studentView">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link student-jobs" href="/studentView/jobs">Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link student-forms" href="/studentView/forms">Forms</a>
  </li>
  <li class="nav-item">
  	<a class="nav-link student-courses" href="/studentView/courses">Courses</a>
  </li>
</ul>